# .env
ENV=DEV
DB_URL=jdbc:postgresql://localhost:5432/standbase
DB_USER=standbase_app
DB_PASSWORD=changeme
SERVER_PORT=5554
CORS_ALLOWED_ORIGINS=http://localhost:5555,https://standup.shivankkapoor.com
DISCORD_WEBHOOK=
